<class="new">
<div>
	<h1>创建微博书</h1>
	<p>	时间选择：</p>

	<form>
		起始时间：
		<input type="text" name="start_time">
		终止时间：
		<input type="text" name="last_time">
	</form>
	<center>
	<%= link_to "提交日期选择", sessions_select_path %>
</center>
</div>
