<h1>选择模板</h1>

<!-- app/assets/images/ -->

<pre>
<form>		<input type="radio" name="template" value="timeline">时间轴 								<input type="radio" name="template" value="magazine">杂志 								<input type="radio" name="template" value="novel">小说 <form>
	<%= image_tag "qiuzhenxiang.jpg", :size => "150x150" %>						<%= image_tag "qiuzhenxiang.jpg", :size => "150x150" %>						<%= image_tag "qiuzhenxiang.jpg", :size => "150x150" %> 
</pre>
<p>
<center>	<%= link_to "生成我的微博书",books_show_path %> </center>
</p>

