<%provide(:title, "首页")%>
<div class="container">
<div class="center hero-unit">
  <h1>Fancy Wiki Book</h1>

  <h2>FancyBook 一个线上合作的书籍创建平台。</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
</div>
