<html xmlns:wb="http://open.weibo.com/wb">
<head>
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=2065192073" type="text/javascript" charset="utf-8"></script>
</head>
<body>


<div id="wb_connect_btn" >
<wb:login-button type="3,2" onlogin="login" onlogout="logout"><link_to "登录按钮" ></wb:login-button>
</div>

</body>
