body{
background-image:image-url("green.jpg");
background-repeat:no-repeat;
background-attachment:fixed;
background-color:#5577ff;
background-repeat:no-repeat;
background-position:50% 0%;
padding-bottom: 0px; margin: 0px auto;
text-align:center;
}

a{
text-decoration:   none; 
} 
a:hover   { 
text-decoration:   underline; 
} 
.lo{
font-size:15px;background:none;color:red}
#main_bg{
background:none;
width:850px;
height:auto;
margin-left:auto;
margin-right:auto;
}
.log{
position:relative;
top:40px;
left:340px;
width:100px;
height:40px;
background:none;
font-size:12px;
color:#34543;
border:0px #687868 solid;
}
.log a{
width:40px;
}

#navbar navbar-inverse {height: 200px;

}
