<div class="container">
<footer class="footer">
	<small>
		<%= link_to "微博书", root_path %>	by HIT-wave
  </small>
  <nav>
    <ul>
      <li><%= link_to "关于", about_path %></li>
      <li><%= link_to "联系", contact_path %></li>
      <li><a href="http://www.google.com/ncr">最新资讯</a></li>
    </ul>
  </nav>
  </footer>
  </div>
